<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="lib/semantic-ui-2.1.6/semantic.css">
</head>

<body>

	<div class="ui container clearing" ng-controller="formCtrl">
	
		<form class="ui segment form" novalidate>
			<div class="field">
				<label>name</label>
				<input type="text" name="name" ng-model="name" placeholder="name">
			</div>
			<div class="field">
				<label>age</label>
				<input type="text" name="age" ng-model="age" placeholder="age">
			</div>
			
			<div class="ui divider"></div>
			{{msg}}
		</form>
		
	</div>
	
	<script src="lib/angular-1.2.28/angular.min.js"></script>
	<script src="lib/jquery-1.11.2.min.js"></script>
	<script src="lib/semantic-ui-2.1.6/semantic.js"></script>
	<script>
		var app=angular.module('app',[]);

		app.controller('formCtrl',function($scope){
			$scope.msg='';
			
			$scope.$watch('age',function(){//观察 model age 的变化
				if($scope.age<28){
					$scope.msg='你看起来没有那么小！';
				}else{
					$scope.msg='你好，'+$scope.name+'！';
				}
			});

		});
		
	</script>
	
</body>
</html>

