<!DOCTYPE html>
<html>

<head>
	<title>NGApp</title>
	<meta charset="UTF-8">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalabel=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="style/common.css">
	<link rel="stylesheet" href="lib/semantic-ui-2.1.8/semantic.min.css">
</head>

<body>

	<div class="ui container basic segment" ng-controller="mainController">
		<div class="ui header large" ng-cloak>
			{{appInfo.appText}} v{{appInfo.version}}
			<div class="ui mini buttons right floated">
				<button class="ui button" ng-click="changeLanguage('en')" data-trans-lang="en">English</button>
				<div class="or"></div>
				<button class="ui button" ng-click="changeLanguage('zh_CN')" data-trans-lang="zh_CN">中文</button>
			</div>
		</div>
		<div class="ui menu" ng-cloak>
			<a ng-href="#{{item.url}}" data-navi-id="{{item.id}}" class="item" ng-repeat="item in navi">{{item.i18nID|translate}}</a>
		</div>
		
		<div class="ui segment" ng-view ng-cloak></div>
	</div>


	<script src="lib/requirejs-2.2.0/require.min.js"></script>
	<script src="script/loader.js"></script>
</body>

</html>
